html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background: rgb(68, 64, 64);
}

body {
	color: white;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: #ffd9d9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #ffd9d9;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.modal {
	/* display: none; Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	text-align: center;
}

main {
	text-align: center;
	padding: 1em;
	max-width: 240px;
	margin: 0 auto;
}

button{
	border-radius: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
	-moz-appearance:textfield; /* Firefox */
}

.header{
	display: grid;
	grid-template-columns: 120px 1fr 120px;
	flex-direction: row;
	top: 0px;
	padding: 1rem;
	
}

.img37{
	width: 150px;
	filter: invert(0.9);
}

.header-right{
	display: flex;
	flex-direction: row;
	-moz-box-align: center;
	align-items: center;
	justify-self: flex-end;
}

.wrongChain{
	background-color: #9b3b3b;
}

.stakedvaluetext{
	font-size: 1.2em;
	font-weight: 600;
}

.appcenter{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	flex: 1 1 0%;
}
.divboxl1{
	/* background-color: rgb(75, 75, 197); */
	max-width: 640px;
	width: 100%;
	background: rgba(0, 0, 0, 0) radial-gradient(76.02% 75.41% at 1.84% 0%, rgb(13, 166, 116) 0%, rgb(4, 98, 98) 100%) repeat scroll 0% 0%;
	
	color: #fff;
	/* text-shadow: 0px 0px 6px #000; */

	border-radius: 12px;
	/* opacity: 0.4; */
	min-height: 110px;
	margin-bottom: 65px;
	padding: 17px;
}

.poolInfo{
	border-radius: 12px;
	border: 2px outset;
	border-color: #0c7878;
	background: rgba(0, 0, 0, 0) radial-gradient(76.02% 75.41% at 1.84% 0%, rgb(13, 166, 116) 0%, rgb(4, 98, 98) 100%) repeat scroll 0% 0%;
	
}



/* Loading - Credits: https://loading.io */

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	top: 45%;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* End Loading */


@media (min-width: 640px) {
	main {
		max-width: none;
	}
}